@{
    ViewData["Title"] = "Home Page";
}
<body id="bgcontent">
    <div id="containerjambo" class="jumbotron">
        <p class="text-uppercase text-white">We sell planets, we result perfect</p>
        <h1 class="text-uppercase text-white">Universe Real Estate -  Neil NIU</h1>
        @Html.ActionLink("Explore", "Index", "Planets", null, new { @class = "primary-btn banner-btn" })
    </div>
    </body>

