
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #a5a5a5;
}
/*********************************
3. Header
*********************************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0,106,182,0.7);
    z-index: 200;
    transition: all 200ms ease;
}

.header_content {
    height: 80px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.header.scrolled {
    background: rgba(0,106,182,0.7);
}

.header.scrolled .header_content {
    height: 60px;
}

.main_nav {
    margin-left: 157px;
}

.main_nav ul li {
    display: inline-block;
}

.main_nav ul li:not(:last-child) {
    margin-right: 60px;
}

.main_nav ul li a {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.main_nav ul li.active a,
.main_nav ul li a:hover {
    color: #2cd983;
}

.phone_num {
    height: 43px;
    border-radius: 22px;
    background: linear-gradient(to right, #487fee, #32fa95);
    padding: 2px;
    overflow: hidden;
}

.phone_num_inner {
    width: 100%;
    height: 100%;
    padding-left: 16px;
    padding-right: 18px;
    background: rgba(0,106,182,0.7);
    border-radius: 20px;
}

.phone_num span {
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin-left: 11px;
    line-height: 39px;
}
#containerjambo {
    background-color: transparent;
    border-color: transparent;
    text-align: center;
    color: #fff;
    padding-top: 170px;
    padding-bottom: 100px;
}

@media (min-width: 768px) {
    #containerjambo {
        padding-top: 170px;
        padding-bottom: 100px;
    }
}
.banner-area {
    background: url(../images/space.jpg) no-repeat center;
}
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.banner-area .overlay-bg {
    background: -moz-linear-gradient(left, rgba(60, 64, 143, 0.95) 0%, rgba(91, 97, 207, 0.95) 100%);
    background: -webkit-linear-gradient(left, rgba(60, 64, 143, 0.95) 0%, rgba(91, 97, 207, 0.95) 100%);
    background: linear-gradient(to right, rgba(60, 64, 143, 0.95) 0%, rgba(91, 97, 207, 0.95) 100%);
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.5em;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}
#returnData {
    height: 250px;
    overflow-y: scroll;
}

.submitBtn {
    padding: 5px;
}
a {
    color: white;
}
#bgcontent {
    position: relative;
    width: 100%;
    background: url(../images/bg-grid.png), linear-gradient(to left,#006ab6,#0c0d0d);
}

#mainnavabar {
    background-color: rgba(0,0,0,0.5);
    border-color: transparent;
    color: white;
}

@media (max-width: 768px) {
    #mainnavabar {
        background-color: #0c0d0d;
        color: white;
    }
}

footer {
    padding: 25px 0;
    text-align: center;
    color: #fff;
}
.section_title {
    font-size: 30px;
    font-weight: 600;
    color: #282828;
    line-height: 0.75;
}

.section_subtitle {
    font-size: 14px;
    font-weight: 500;
    color: #828282;
    line-height: 0.75;
    margin-top: 15px;
}

.primary-btn {
    line-height: 40px;
    padding: 0 40px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #00ff8c;
    color: #222222;
    display: inline-block;
    font-weight: 600;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.primary-btn:focus {
    outline: none;
}

.primary-btn.banner-btn {
    color: #fff;
    margin-top: 60px;
}

.primary-btn span {
    margin-left: 15px;
}

.primary-btn:hover {
    background: #00ff8c;
    color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
/*********************************
8. Planets
*********************************/

.planets {
    width: 100%;
    background: #eff2f6;
    padding-top: 105px;
    padding-bottom: 78px;
}

.planets_container {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 60px;
}

.planet {
    width: calc((100% - 81px) / 4);
    margin-bottom: 26px;
}

.planet img {
        max-width: 100%;
}

.planetdetails img {
    max-width: 100%;
    padding-left: 3%;
    padding-right: 3%;
}
.planet_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(72, 127, 238, 0.65), rgba(50, 250, 149, 0.65));
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
}

.planet:hover .planet_overlay {
    visibility: visible;
    opacity: 1;
}

.planet_overlay a {
    display: block;
    width: 100%;
    height: 100%;
}

.planet_title {
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    -o-transform: translateX(-30px);
    transform: translateX(-30px);
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
}

.planet:hover .planet_title {
    transform: translateX(0px);
}

.planet_subtitle {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -ms-transform: translateX(30px);
    -o-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    transition: all 800ms ease;
}

.planet:hover .planet_subtitle {
    transform: translateX(0px);
}


/*********************************
9. Testimonials
*********************************/

.testimonials {
    width: 100%;
    background: #FFFFFF;
    padding-top: 105px;
    padding-bottom: 104px;
}

.testimonials_row {
    margin-top: 97px;
}

.testimonial_title {
    font-size: 20px;
    font-weight: 600;
    color: #282828;
}

.testimonial_text {
    font-size: 15px;
    font-weight: 500;
    color: #838383;
    margin-top: 26px;
}

.testimonial_author_image {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 42px;
}

    .testimonial_author_image img {
        max-width: 100%;
    }

.testimonial_author {
    margin-top: 25px;
}

    .testimonial_author a {
        font-size: 15px;
        font-weight: 600;
        color: #3f6fce;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

        .testimonial_author a:hover {
            color: #32f996;
        }

    .testimonial_author span {
        font-size: 15px;
        font-weight: 600;
        color: #828282;
    }

.rating_r i::before {
    font-family: 'FontAwesome';
    content: "\f006";
    font-style: normal;
    font-size: 11px;
    margin-right: 4px;
    color: #fbb710;
}

.rating_r_1 i:first-child::before {
    content: "\f005";
}

.rating_r_2 i:first-child::before {
    content: "\f005";
}

.rating_r_2 i:nth-child(2)::before {
    content: "\f005";
}

.rating_r_3 i:first-child::before {
    content: "\f005";
}

.rating_r_3 i:nth-child(2)::before {
    content: "\f005";
}

.rating_r_3 i:nth-child(3)::before {
    content: "\f005";
}

.rating_r_4 i:first-child::before {
    content: "\f005";
}

.rating_r_4 i:nth-child(2)::before {
    content: "\f005";
}

.rating_r_4 i:nth-child(3)::before {
    content: "\f005";
}

.rating_r_4 i:nth-child(4)::before {
    content: "\f005";
}

.rating_r_5 i:first-child::before {
    content: "\f005";
}

.rating_r_5 i:nth-child(2)::before {
    content: "\f005";
}

.rating_r_5 i:nth-child(3)::before {
    content: "\f005";
}

.rating_r_5 i:nth-child(4)::before {
    content: "\f005";
}

.rating_r_5 i:nth-child(5)::before {
    content: "\f005";
}
.super_container {
    width: 100%;
    overflow: hidden;
}